@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&family=Poppins:wght@700&display=swap');


* {
  box-sizing: border-box;
}

body {
  background-image: url('./images/bg-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(257, 40%, 49%);
  color: #fff;
  display: flex;
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  font-family: 'Poppins', sans-serif;
}

img {
  max-width: 100%;
}

.container {
  margin: auto;
  max-width: 100%;
  width: 1200px;
}

.flex {
  display: flex;
}

.flex > div {
  flex: 1;
}